body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
table {
    border-collapse: collapse;
   
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
th:hover{
    background-color: white;
    box-shadow: 3px 3px #c2bebe, -1em 0 .4em #c2bebe;
}
td:hover{
    background-color: white;
    box-shadow: 3px 3px #c2bebe, -1em 0 .4em #c2bebe;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: black;
}

ul.breadcrumbs {
    padding: 0;
    list-style: none;
}

ul.breadcrumbs li {
    display: inline;
    margin-right: 5px;

}

ul.breadcrumbs li:not(:last-child)::after {
    content: ">";
    margin-left: 5px;
    margin-right: 5px;
    color: #999;
}

ul.breadcrumbs li a {
    text-decoration: none;
    color: black; /* couleur du lien */
}

ul.breadcrumbs li a:hover {
    text-decoration: underline;
    color: black; 
}

.content-container{
    display: flex;
}
.table-container {
    order: 2; /* Définit l'ordre d'affichage à 2 */
    margin-left: 15%;
    
}
.breadcrumb{
    margin-right: 0;
}
/* la fleche */
.toggle-arrow {
    cursor: pointer;
    margin-left: 5px;
}
.retour{
   background-color: slategrey;
   border-radius: 5px;
   width: 100px;
   height: 50px;
   margin: 8px;
   
}